<app-navbar></app-navbar>
<div class="container">
  <h2>Calender Of Training</h2>
  <form>
    <div class="form-group left">
      <label for="kode-rating">Kode Rating</label>
      <input id="kode-rating" type="text" class="form-control" />
    </div>
    <div class="form-group left">
      <label for="nama-training">Nama Training</label>
      <input id="nama-training" type="text" class="form-control" />
    </div>
    <div class="form-group left">
      <label for="tanggal-mulai">Tanggal Mulai</label>
      <input id="tanggal-mulai" type="date" class="form-control" />
    </div>
    <div class="form-group left">
      <label for="tanggal-selesai">Tanggal Selesai</label>
      <input id="tanggal-selesai" type="date" class="form-control" />
    </div>
    <div class="form-group left">
      <label for="lokasi-training">Lokasi Training</label>
      <input id="lokasi-training" type="text" class="form-control" />
    </div>
    <div class="form-group right">
      <label for="instruktur-regulasi-gse">Instruktur Regulasi GSE</label>
      <input id="instruktur-regulasi-gse" type="text" class="form-control" />
    </div>
    <div class="form-group right">
      <label for="instruktur-teori-rating">Instruktur Teori Rating</label>
      <input id="instruktur-teori-rating" type="text" class="form-control" />
    </div>
    <div class="form-group right">
      <label for="instruktur-praktek-1">Instruktur Praktek 1</label>
      <input id="instruktur-praktek-1" type="text" class="form-control" />
    </div>
    <div class="form-group right">
      <label for="instruktur-praktek-2">Instruktur Praktek 2</label>
      <input id="instruktur-praktek-2" type="text" class="form-control" />
    </div>
    <div class="form-actions">
      <app-white-button>Back</app-white-button>
      <app-blue-button>Save</app-blue-button>
    </div>
  </form>
</div>
