<app-navbar></app-navbar>

<div class="container">
  <div class="header">
    <h2>Capability</h2>
    <hr />
  </div>
  <div class="form-container">
    <div class="form-group">
      <label for="kodeRating">Kode Rating</label>
      <input id="kodeRating" type="text" />
    </div>
    <div class="form-group">
      <label for="kodeTraining">Kode Training</label>
      <input id="kodeTraining" type="text" />
    </div>
    <div class="form-group">
      <label for="namaTraining">Nama Training</label>
      <input id="namaTraining" type="text" />
    </div>
    <div class="form-group">
      <label for="durasiMateriGSE">Durasi Materi Regulasi GSE</label>
      <input id="durasiMateriGSE" type="text" />
    </div>
    <div class="form-group">
      <label for="durasiMateriRating">Durasi Materi Rating</label>
      <input id="durasiMateriRating" type="text" />
    </div>
    <div class="form-group">
      <label for="totalDurasiTraining">Total Durasi Training</label>
      <input id="totalDurasiTraining" type="text" />
    </div>
    <div class="form-group">
      <label for="kurikulumSilabus">Pilih Kurikulum & Silabus</label>
      <input id="kurikulumSilabus" type="text" />
    </div>
  </div>
  <div class="button-container">
    <app-white-button>Back</app-white-button>
    <app-blue-button>Save</app-blue-button>
  </div>
</div>
