<app-header></app-header>
<div *ngIf="infoMessage" class="table-warning">
  {{ infoMessage }}
</div>
<app-data-management
  pageTitle="Calendar Of Training"
  [isParticipantCot]="true"
  [showMonthFilter]="true"
  [selectedMonth]="selectedMonth"
  [selectedYear]="selectedYear"
  (monthChange)="onMonthChanged($event)"
  placeHolder="Cari COT/Tahun"
  [columns]="columns"
  [data]="cot"
  [state]="state"
  [isLoading]="isLoading"
  [totalPages]="totalPages"
  [currentPage]="currentPage"
  [infoMessage]="infoMessage"
  (searchChange)="onSearchChanged($event)"
  (pageChange)="onPageChanged($event)"
  (viewAllChange)="viewAll()"
  [blueButtonRoute]="'/cot/add'"
  [roleBassedAccess]="['super admin']"
  [sortBy]="sortBy"
  [sortOrder]="sortOrder"
  (sortChange)="onSortChange($event)"
></app-data-management>
